// delete buttons
@mixin deleteBehaviour {
  background-color: transparent;
  border: none;
  border: 0;
  color: #ffffff;
  font-weight: bold;
  &:focus {
    outline: none;
  }
  &:hover {
    color: red;
  }
}
// submit buttons
@mixin submitBehaviour {
  box-sizing: border-box;
  border-radius: 1vw;
  color: #ffffff;
  border: 0;
  background-color: #61892f;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: #86c232;
  }
}

body {
  background-color: #222629;
}
// overall content
.content {
  display: flex;
  flex-direction: column;
  background-color: #222629;
  min-height: 50vh;
  max-height: 50vh;
  width: 50vw;
  min-width: 800px;
  margin: 40px auto;
}
// What should I do button
.random {
  height: 5vh;
  width: 90%;
  margin: 1% 5%;
  @include submitBehaviour();
}
//task input
form {
  height: 8vh;
  width: 90%;
  margin: 0% 5%;
  background-color: #6b6e70;
  padding-top: 1vw;
  input {
    width: 80%;
    box-sizing: border-box;
    height: 5vh;
    border-radius: 1vw;
    background-color: #222629;
    color: #fff;
    border: 0;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #ffffff;
    }
  }
  button {
    width: 20%;
    height: 5vh;
    @include submitBehaviour();
  }
}
// task list
ul {
  max-height: 30vh;
  background-color: #6b6e70;
  overflow: auto;
  padding: 0;
  list-style-type: none;
  width: 90%;
  margin: 0% 5%;
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    background: #61892f;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #86c232;
  }
}
// individual list items
li {
  list-style: none;
  height: 10vh;
  background-color: #6b6e70;
}

h2 {
  line-height: 10vh;
  padding-left: 1vw;
  border-top: 1px solid #86c232;
  border-bottom: 1px solid #86c232;
  color: #86c232;
  margin: 0;
  button {
    float: right;
    margin-top: 3.5vh;
    @include deleteBehaviour();
  }
}
h3 {
  line-height: 5vh;
  background-color: #474b4f;
  width: 90%;
  margin: 0% 5%;
  color: #ffffff;
  button {
    float: right;
    margin-top: 1.5vh;
    @include deleteBehaviour();
  }
}
// modal for random tasks
.modal {
  min-height: 30vh;
  max-height: 30vh;
  width: 70vw;
  min-width: 500px;
  margin: 40px auto;
  text-align: center;
  padding-top: 5vh;
  button {
    width: 20%;
    height: 5vh;
    @include submitBehaviour();
  }
}
